.card__main {
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card__content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  position: relative;
  background-color: var(--secondary-color);
  box-shadow: -1px -1px 14px 0 rgba(0 0 0 /75%);
}

.card__bookmark-icon {
  width: 4rem;
  position: absolute;
  top: -20px;
  right: 0;
  filter: invert(70%);
  cursor: pointer;
}

.card__bookmark-icon--active {
  width: 4rem;
  position: absolute;
  top: -20px;
  right: 0;
  cursor: pointer;
  filter: invert(1%);
}

.card__heading {
  color: white;
  text-transform: uppercase;
}

.card__question {
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

.card-button {
  padding: 0.7rem;
  margin: 1rem;
  background-color: rgb(122 185 162);
  text-transform: uppercase;
  border-radius: 10px;
}

.card-button:hover {
  font-weight: bold;
  font-size: 0.9rem;
  background-color: rgb(19 130 87);
}

.card-display--none {
  display: none;
}

.card__answer--display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--fourth-color);
  color: white;
  text-align: center;
  border-radius: 1rem;
}

.card__tags {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

.card__tags__item {
  width: 3.5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
}
