.card__main{
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card__content{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
   margin: 2rem;
    padding: 1rem;
    position: relative;
    background-color: var(--secondary-color);
    box-shadow: -1px -1px 14px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px -1px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -1px 14px 0px rgba(0,0,0,0.75);
    
}
.card__bookmark-icon{
    position: absolute;
    top: -20px;
    right: 0;
    filter: invert(70%) ;
    cursor: pointer;
    
}
.card__bookmark-icon--active{
    position: absolute;
    top: -20px;
    right: 0;
    cursor: pointer;  
}
 .card__heading{
     color: white;
     text-transform: uppercase;
 }
 .card__question{
     text-align: center;
     color: white;
     font-size: 1.2rem;
     
    
 }
 .card-button__answer{
     padding: .7rem;
     margin: 1rem;
     background-color: rgb(53, 140, 56);
     text-transform: uppercase;
 }
 .card-button__answer:hover{
     font-size: 1rem;
     background-color: rgb(82, 176, 82);;
 }

 .card__answer--display-none{
     display: none;
 }
 .card__answer--display{
     display: block;
     border: var(--primary-color) 2px solid;
     color: white;
     text-align: center;
     border-radius: 1rem;
    
 }
 .card__tags{
     padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
   

 }

 .card__tags__item{
     width: 3.5rem;
     height: 2rem;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: var(--primary-color);
     color: white;
     
 }

