.footer__nav {
  height: 6rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--fourth-color);
}

.nav-icon {
  cursor: pointer;
  fill: white;
}

.nav-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.nav-icon--active {
  cursor: pointer;
  fill: var(--primary-color);
}

.nav-button {
  background-color: transparent;
  border: none;
}
