.footer__nav {
  height: 6rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--fourth-color);
}

.nav-item__icon {
  cursor: pointer;
  width: 4rem;
  filter: invert(100%);
}

.nav-item__icon--active {
  cursor: pointer;
  filter: invert(1%);
}
