
.footer__nav{
    height: 6rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--fourth-color);
    
}

.footer__nav__item{
    width: 4rem;
}


