* {
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  background-color: var(--third-color);
}
