.home,
.bookmark,
.create,
.profile {
  display: none;
}

.section--active {
  display: block;
}

/* Exersice */

.first-section {
  margin: 3rem;
}

.first {
  background-color: red;
}

.first--change {
  background-color: blue;
}

.first-text--none {
  display: none;
}
