.profile__main {
  margin-bottom: 7rem;
}

.profile__content {
  margin: 2rem;
  padding: 5rem;
  background-color: var(--secondary-color);
}

.profile__container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  gap: 3rem;
}

.profile__picture {
  height: 8rem;
  width: 8rem;
  background-size: contain;
  border-radius: 50%;
  border: var(--primary-color) solid 5px;
}

.profile__picture:hover {
  transform: scale(1.2);
}

.profile__list {
  list-style: none;
}

.profile__main-information {
  display: flex;
}
